/*---- RESET DO CSS ----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: abnes;
    src: url(./assets/font/abnes.ttf);
}

body {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(https://media0.giphy.com/media/077i6AULCXc0FKTj9s/giphy.gif);
}

/* --- HEADER DA PAGINA --- */

header {
    width: 100%;
    height: 15vh;
    background-color: rgba(43, 203, 247, 0.555);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

h3 {
    font-family: abnes;
    font-size: 220%;
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#botoesDescubra {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;

}

#cCesar {
    margin-left: 3%;
    margin-right: 3%;
}

a {
    font-size: 140%;
    width: 20%;
    height: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    border-radius: 5px;
}

/* --- MAIN DA PÁGINA ---*/

main {
    width: 60%;
    height: 70vh;
    background-color: rgba(43, 203, 247, 0.555);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#opcoes {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

#cifraDeCesar,
#base64 {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-end;
}

#flecha {
    font-size: 300%;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#entradaSaida {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    display: flex;

}

textarea {
    width: 40%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
}

h2 {
    font-family: abnes;
    color: white;
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 1px black;
    
}
#cDC{
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 7%;
}
#codInput{
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#codCesar {
    width: 35%;
    height: 100%;
}

#desloc {
    width: 13%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
}

#decodCesar {
    width: 48%;
    height: 15%;
}

#cod64,
#decod64 {
    
    width: 47%;
    height: 15%;
}

#base64 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

button {
    font-size: 90%;
}

/* FOOTER DA PÁGINA */

footer {
    width: 100%;
    height: 5vh;
    background-color: rgba(43, 203, 247, 0.555);
    display: flex;
    align-items: center;
    justify-content: center;
}

.marlonlinkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: fantastic;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 120%;
}

.marlonlinkedin:hover {
    font-size: 130%;
    transition: 1s;
}